html {
    font-size: 62.5%;
}

body {
    width: 1366px;
    margin: 0 auto;
    padding: 0;
    background-image: url('../image/background.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
}

.main-view-div {
    display: flex;
    flex-direction: row-reverse;
}

.navigation {
    width: 546px;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 219, 139);
}

.navigation div {
    width: 100px;
    height: 55px;
    font-size: 1.6rem;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid transparent;
}

.navigation div:hover {
    color: #008f5b;
    border-bottom: 5px solid #008f5b;
}

.information-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 546px;
    height: 100%;
    background-color: rgb(0, 219, 139);
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 10px 0 20px #000;
}

.information-box-container {
    display: flex;
    flex-direction: column;
}

.user-head-picture-box {
    width: 300px;
    height: 300px;
    margin: 100px auto 0 auto;
    background-color: #000;
    border: 10px solid #fff;
    box-shadow: 0 0 10px #000;
}

.user-head-picture-box img {
    width: 100%;
}

.user-introduction {
    width: 320px;
    cursor: default;
    user-select: none;
}

.user-introduction h1 {
    font-size: 2.4rem;
}

.user-introduction p {
    font-size: 1.6rem;
}

.article-stack-view {
    width: 826px;
    min-height: 100%;
    /*background-color: rgb(27, 27, 27);*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 60px;
    padding-top: 20px;
}

.article-box {
    width: 680px;
    height: 300px;
    margin: 0;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.article-box-container {
    width: 620px;
    height: 300px;
    background-color: rgb(0, 219, 139);
    display: flex;
    flex-direction: row;
    box-shadow: 10px 10px 20px #000;
    cursor: pointer;
    user-select: none;
}

.image-div {
    width: 300px;
    height: 300px;
}

.image-div img {
    width: 100%;
}

.article-text-box {
    width: 320px;
    height: 300px;
}

.article-text-box h1 {
    font-size: 3.6rem;
    font-weight: bold;
    width: 280px;
    height: 60px;
    line-height: 60px;
    margin: 10px 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article-text-box h2 {
    font-size: 1.6rem;
    font-weight: bold;
    color: rgb(117, 117, 117);
    width: 280px;
    height: 30px;
    line-height: 30px;
    margin: 10px 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article-text-box p {
    font-size: 1.6rem;
    width: 280px;
    height: 150px;
    line-height: 25px;
    margin: 10px 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article-box-navigation {
    width: 50px;
    max-height: 100%;
    /*background-color: rgb(0, 219, 139);*/
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 1rem 1rem 2rem #000;
}

.article-box-navigation div {
    width: 50px;
    height: 75px;
    background-color: rgb(0, 219, 139);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.article-box-navigation p {
    font-size: 1.6rem;
    margin: 0;
    cursor: default;
}

.article-box-navigation img:hover {
    cursor: pointer;
}