@import './base.scss';

.home-view {
  display: flex;
  overflow: auto;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 1200px;
  flex-direction: row-reverse;
  background-image: url('../images/background.jpg');
  background-repeat: repeat;
  background-attachment: fixed;
}

.information-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  min-width: 400px;
  height: 100%;
  background-color: rgb(0, 219, 139);
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 1rem 0 2rem #000;
}

.content-layout {
  width: 70%;
  overflow: auto;
  padding: 50px;
  box-sizing: border-box;
}

.article-stack-view {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:center;
  padding-bottom: 60px;
}

.content-bar-layout {
  width: 97%;
  overflow: auto;
  padding: 50px;
  box-sizing: border-box;
}
