@import './base.scss';

.text-view-container {
  width: 1000px;
  height: 600px;
  .head-picure-introduction-view {
    width: 1000px;
    display: flex;
    flex-direction: row;
    div {
      margin: 0 40px;
    }
    .head-picture-box {
      width: 200px;
      height: 200px;
      box-sizing: border-box;
      background-color: #000;
      border: 10px solid #fff;
      cursor: pointer;
      user-select: none;
      img {
        width: 100%;
      }
    }
    .textarea {
      width: 640px;
      height: 200px;
      box-sizing: border-box;
      border-radius: 5px;
      outline: none;
      font-size: 2rem;
      font-family: "微软雅黑";
      padding: 10px;
      resize: none;
      border: 2px inset;
    }
  }
}

.information-setting-view {
  margin: 40px;
  .a-line-display {
    height: 30px;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    div {
      width: 200px;
      height: 30px;
      margin: 0;
      line-height: 1.5;
    }
    .text-box {
      width: 800px;
      height: 30px;
      font-size: 2rem;
      text-indent: 5px;
      box-sizing: border-box;
      border-radius: 5px;
      outline: none;
    }
  }
}

.information-setting-view div>p {
  font-size: 2rem;
  color: #fff;
  /*display: inline;*/
  user-select: none;
  cursor: default;
  margin: 0;
}
